.container {
    display: flex;
}

.leftPanel {
    flex: 1;
}

.rightPanel {
    flex: 3;
}

#githubImage {
    border-radius: 8px;
    width: 30px;
    height: 30px;
    margin-left: 1em;
}

#mandelImage {
  border-radius: 8px;
  width: 500px;
  height: 500px;
  display: block;
  margin: auto;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

a {
    
    margin: auto;
}
