.container {
    display: flex;
    align-items: center;
}

.leftPanel {
    flex: 1;
    width: 100px;
    text-align: center;
}

.rightPanel {
    flex: 3;
    width: 100px;
    text-align: center;
}

img {
  border-radius: 8px;
  width: 360px;
  height: 600px;
}
